body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
div {
  border: 1px solid black;
  background-color: black;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

p {
  text-align: center;
  color: Wh;
}